<header id="surv-home-header">
  <h1>
    Apple Surveys
  </h1>
  <%= link_to 'Create New Survey', new_survey_path, class: 'surv-btn', id: 'surv-create-new' %>
</header>
<main id="surv-display">
  <% if ! @surveys.empty? %>
    <table id="surv-cont" border="1px">
      <tr>
        <th>Name</th>
        <th colspan="2">Question</th>
        <th>Yes</th>
        <th>No</thL>
      </tr>
      <% @surveys.each do |survey| %>
        <tr>
          <td><%= link_to survey.name, survey_path(survey) %></td>
          <td><%= survey.question %></td>
          <td class="surv-item-edit"><%= link_to 'Edit', edit_survey_path(survey) %></td>
          <td class="surv-item-yes"><%= survey.num_yes ||= 0 %></td>
          <td class="surv-item-no"><%= survey.num_no ||= 0 %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <section id="surv-none">
      No surveys yet!
    </section>
  <% end %>
</main>
