<main>
  <p>
    <strong>Name:</strong>
    <%= @survey.name %>
  </p>
  <p>
    <strong>Question:</strong>
    <%= @survey.question %>
  </p>

  <%= render 'form_answer' %>
  <hr>
  <%= link_to 'Home', controller: 'home' %>
  |
  <%= link_to 'Edit', edit_survey_path(@survey) %>
</main>