<main>
  <p>
    <strong>Name:</strong>
    <%= @survey.name %>
  </p>
  <p>
    <strong>Question:</strong>
    <%= @survey.question %>
  </p>

  <%= form_with model: [@survey, @survey.survey_responses.build], local: true, id: 'surv-form-answer', class: 'surv-form' do |form| %>
    <fieldset>
      <%= form.label :answer_yes, "Yes" %><br>
      <%= form.radio_button :answer, "YES" %>
    </fieldset>
    <fieldset>
      <%= form.label :answer_no, "No" %><br>
      <%= form.radio_button :answer, "NO" %>
    </fieldset>
    <%= form.submit class: "surv-btn" %>
  <% end %>
  <hr>
  <%= link_to 'Home', controller: 'home' %>
  |
  <%= link_to 'Edit', edit_survey_path(@survey) %>
</main>