<main>
  <h2>
    <strong>Survey:</strong>
    <%= @survey.name %>
  </h2>
  <p>
    <i><%= @survey.question %></i>
  </p>
  <hr>
  <%= render 'form_answer' %>
  <hr>
  <%= link_to 'Home', controller: 'home' %>
  |
  <%= link_to 'Edit', edit_survey_path(@survey) %>
</main>